<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="An app that searches for images on google">
    <link rel="stylesheet" href="style.css">
    <title>Image Search</title>
</head>
<body>
    <main>
        <h1>Image Search</h1>
        <hr>
        <div class="search-div">
            <label for="query">Search:</label>
            <input type="search" name="query" id="query" value="">
            <label for="page">Page:</label>
            <input type="number" name="page" id="page" value="1" min="1">
            <label for="size">Size:</label>
            <select name="size" id="size">
                <option value="">All</option>
                <option value="icon">Icon</option>
                <option value="small">Small</option>
                <option value="medium">Medium</option>
                <option value="large">Large</option>
                <option value="xlarge">XLarge</option>
                <option value="xxlarge">XXLarge</option>
                <option value="huge">Huge</option>
            </select>
            <a href="" class="button disabled">Search</a>
        </div>
        <a href="" target="_blank" id="searchQuery"></a>
    </main>
</body>
<script src="script.js"></script>
</html>